<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="resources/css/styles.css">
     <% include frontend.ejs %>
  </head>
  <body>
	 <% include navbar.ejs %>
     <div style="padding-top:75px;">
		<div class="container" id="mycontainer">
            <div class="here">
                    <h1>Statistici</h1>               
            <div> 
                 <p>Ceva</p><br/> 
            </div>
            </div>
        </div>
    </div>

  </body>
  
  
</html>
